body{background: sandybrown;}
.botao{
display: flex;
width: 50px; 
height: 20px;
    padding: 10px 20px; 
    color: red;
    background: white; 
    border: 2px solid black;   border-radius: 100px;
    text-align: center; 
    align-items: end;}